name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    container: buildpack-deps:bullseye
    steps:
        - name: Update package source
          run: apt-get update
        - name: Install ruby-install
          run: |
            curl -L https://github.com/postmodern/ruby-install/releases/download/v0.10.1/ruby-install-0.10.1.tar.gz -O
            tar -xvzf ruby-install-0.10.1.tar.gz
            cd ruby-install-0.10.1
            make install
        - name: Install Ruby
          run: 'ruby-install --rubies-dir /github/workspace 3.4.7 -- --disable-install-rdoc --enable-load-relative LDFLAGS="-s"'
        - name: Upload artifact
          uses: actions/upload-artifact@v5
          with:
            name: ruby-3.4.7
            path: /github/workspace
