name: Compile, test and publish a dummy_gem
on: workflow_dispatch
jobs:
  compile_and_test:
    permissions:
      id-token: write
      contents: write
    name: "Complile and test the gem"
    strategy:
      matrix:
        version: ["3.4.4"]
        os: ["ubuntu-latest", "macos-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "${{ matrix.version }}"
          bundler-cache: true
          working-directory: "test/fixtures/dummy_gem"
      - name: "Run easy compile"
        uses: "rails/cool-stuff-fun-time/.github/actions/easy_compile@main"
        with:
          working-directory: "test/fixtures/dummy_gem"
          release: true

  release:
    permissions:
      id-token: write
      contents: write
    needs: compile_and_test
    name: "Release gems"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.4"
          bundler-cache: true
          working-directory: "test/fixtures/dummy_gem"
      - name: "Release"
        uses: "rails/cool-stuff-fun-time/.github/actions/easy_publish@main"
        with:
          working-directory: "test/fixtures/dummy_gem"
