name: Compile and test a dummy gem
on: [push]
jobs:
  compile_and_test:
    name: "Complile and test the gem"
    strategy:
      matrix:
        version: ["3.4.4"]
        os: ["ubuntu-latest", "macos-15-intel", "windows-latest", "macos-14"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "${{ matrix.version }}"
          bundler-cache: true
          working-directory: "test/fixtures/dummy_gem"
      - name: "Run easy compile"
        uses: "rails/cool-stuff-fun-time/.github/actions/easy_compile@ec-release-in-bulk"
        with:
          working-directory: "test/fixtures/dummy_gem"
