name: "Run a end to end test on the dummy gem"
on: push
jobs:
  compile:
    timeout-minutes: 20
    name: "Cross compile the gem on different ruby versions"
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-22.04", "windows-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.1.7"
          bundler-cache: true
          working-directory: "test/fixtures/dummy_gem"
      - name: "Run easy compile"
        uses: "./.github/actions/easy_compile"
        with:
          step: "compile"
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: "test/fixtures/dummy_gem"
  test:
    timeout-minutes: 20
    name: "Run the test suite"
    needs: compile
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-22.04", "windows-latest"]
        rubies: ["3.4.7", "3.1.7"]
        type: ["cross", "native"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "${{ matrix.rubies }}"
          bundler-cache: true
          working-directory: "test/fixtures/dummy_gem"
      - name: "Run easy compile"
        uses: "./.github/actions/easy_compile"
        with:
          step: "test_${{ matrix.type }}"
          token: ${{ secrets.GITHUB_TOKEN }} # TODO Remove this before publishing the gem
          working-directory: "test/fixtures/dummy_gem"
  install:
    timeout-minutes: 5
    name: "Verify the gem can be installed"
    needs: test
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-22.04", "windows-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7"
      - name: "Run easy compile"
        uses: "./.github/actions/easy_compile"
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # TODO Remove this before publishing the gem
          step: "install"
