name: "Run a end to end test on the dummy gem"
on: push
jobs:
  compile:
    timeout-minutes: 20
    name: "Cross compile the gem on different ruby versions"
    strategy:
      matrix:
        os: ["macos-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.1.7"
          bundler-cache: true
          working-directory: "test/fixtures/dummy_gem"
      - name: "Run easy compile"
        uses: "./.github/actions/easy_compile"
        with:
          step: "compile"
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: "test/fixtures/dummy_gem"
