name: "Run a end to end test on the dummy gem"
on: push
jobs:
  compile:
    timeout-minutes: 20
    name: "Cross compile the gem on different ruby versions"
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71"
        with:
          ruby-version: "3.1.7"
          bundler-cache: true
          working-directory: "test/fixtures/dummy_gem"
      - name: "Run cibuildgem"
        uses: "./.github/actions/cibuildgem"
        with:
          step: "compile"
          working-directory: "test/fixtures/dummy_gem"
  # test:
  #   timeout-minutes: 20
  #   name: "Run the test suite"
  #   needs: compile
  #   strategy:
  #     matrix:
  #       os: ["macos-latest", "ubuntu-22.04", "windows-latest"]
  #       rubies: ["3.1", "3.4"]
  #       type: ["cross", "native"]
  #   runs-on: "${{ matrix.os }}"
  #   steps:
  #     - name: "Checkout code"
  #       uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"
  #     - name: "Setup Ruby"
  #       uses: "ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71"
  #       with:
  #         ruby-version: "${{ matrix.rubies }}"
  #         bundler-cache: true
  #         working-directory: "test/fixtures/dummy_gem"
  #     - name: "Run cibuildgem"
  #       uses: "./.github/actions/cibuildgem"
  #       with:
  #         step: "test_${{ matrix.type }}"
  #         working-directory: "test/fixtures/dummy_gem"
  # install:
  #   timeout-minutes: 5
  #   name: "Verify the gem can be installed"
  #   needs: test
  #   strategy:
  #     matrix:
  #       os: ["macos-latest", "ubuntu-22.04", "windows-latest"]
  #   runs-on: "${{ matrix.os }}"
  #   steps:
  #     - name: "Checkout code"
  #       uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"
  #     - name: "Setup Ruby"
  #       uses: "ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71"
  #       with:
  #         ruby-version: "3.4.7"
  #     - name: "Run cibuildgem"
  #       uses: "./.github/actions/cibuildgem"
  #       with:
  #         step: "install"
