name: "Compile and test the date gem"
on: [push]
jobs:
  compile:
    timeout-minutes: 10 # TODO This should be configurable
    name: "Cross compile the gem on different ruby versions"
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7" # TODO This should be determined dynamically.
          bundler-cache: true
          working-directory: "test/fixtures/date"
      - name: "Run easy compile"
        uses: "./.github/actions/easy_compile"
        with:
          working-directory: "test/fixtures/date"
          step: "compile"
  test:
    permissions: # TODO This can be removed. I just need this temporarily to download the artifact from a previous workflow
      actions: read
      contents: read
    timeout-minutes: 10 # TODO This should be configurable
    name: "Run the test suite"
    needs: compile
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        rubies: ["3.0.7", "3.1.7", "3.2.9", "3.3.9", "3.4.6"] # TODO This should be determined dynamically.
        type: ["cross", "native"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "${{ matrix.rubies }}"
          bundler-cache: true
          working-directory: "test/fixtures/date"
      - name: "Run easy compile"
        uses: "./.github/actions/easy_compile"
        with:
          working-directory: "test/fixtures/date"
          step: "test_${{ matrix.type }}"
          token: ${{ secrets.GITHUB_TOKEN }} # TODO This can be removed. Only for testing
  install:
    permissions: # TODO This can be removed. I just need this temporarily to download the artifact from a previous workflow
      actions: read
      contents: read
    timeout-minutes: 5
    name: "Verify the gem can be installed"
    needs: test
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code" # TODO No need to checkout the codebase. Have to do it here because the relative path to the action doesn't work otherwise.
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7" # TODO This needs to be determined dynamically.
      - name: "Run easy compile"
        uses: "./.github/actions/easy_compile"
        with:
          step: "install"
  release:
    permissions: # TODO This can be removed. I just need this temporarily to download the artifact from a previous workflow
      actions: read
      contents: read
      id-token: write
    timeout-minutes: 5
    name: "Release all gems with RubyGems"
    needs: install
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout code" # TODO No need to checkout the codebase. Have to do it here because the relative path to the action doesn't work otherwise.
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7"
          bundler-cache: true
          working-directory: "test/fixtures/date"
      - name: "Run easy compile"
        uses: "./.github/actions/easy_publish"
        with:
          working-directory: "test/fixtures/date"
          token: "${{ secrets.GITHUB_TOKEN }}"
