name: "Package gems with precompiled binaries"
on:
  workflow_dispatch:
    inputs:
      release:
        description: "If the whole build passes on all platforms, release the gems on RubyGems.org"
        required: false
        type: boolean
        default: false

jobs:
  compile:
    timeout-minutes: 20
    name: "Cross compile the gem on different ruby versions"
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest", "windows-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Install gperf"
        if: ${{ matrix.os == 'windows-latest' }}
        run: choco install gperf
      - name: "Install gperf"
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: apt-get -qy --no-install-recommend install gperf
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.0.7"
          bundler-cache: true
          working-directory: "test/fixtures/date"
      - name: "Run easy compile"
        uses: "shopify-playground/edouard-playground/.github/actions/easy_compile@main"
        with:
          step: "compile"
          token: ${{ secrets.GITHUB_TOKEN }} # TODO Remove this before publishing the gem
          working-directory: "test/fixtures/date"
  test:
    timeout-minutes: 30
    name: "Run the test suite"
    needs: compile
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest", "windows-latest"]
        rubies: ["3.4.7", "3.1.7"]
        type: ["cross", "native"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "${{ matrix.rubies }}"
          bundler-cache: true
          working-directory: "test/fixtures/date"
      - name: "Run easy compile"
        uses: "shopify-playground/edouard-playground/.github/actions/easy_compile@main"
        with:
          step: "test_${{ matrix.type }}"
          token: ${{ secrets.GITHUB_TOKEN }} # TODO Remove this before publishing the gem
          working-directory: "test/fixtures/date"
  install:
    timeout-minutes: 5
    name: "Verify the gem can be installed"
    needs: test
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest", "windows-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7"
      - name: "Run easy compile"
        uses: "shopify-playground/edouard-playground/.github/actions/easy_compile@main"
        with:
          token: ${{ secrets.GITHUB_TOKEN }} # TODO Remove this before publishing the gem
          step: "install"
  release:
    permissions:
      id-token: write
      contents: read
    timeout-minutes: 5
    if: ${{ inputs.release }}
    name: "Release all gems with RubyGems"
    needs: install
    runs-on: "ubuntu-latest"
    steps:
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7"
      - name: "Run easy compile"
        uses: "shopify-playground/edouard-playground/.github/actions/easy_compile@main"
        with:
          step: "release"
          token: ${{ secrets.GITHUB_TOKEN  }}
