name: "Compile, test and publish a gem."
on:
  workflow_dispatch:
    inputs:
      repository:
        description: 'The repository to check out'
        required: true
        type: string

jobs:
  compile_and_test:
    name: "Complile and test the gem"
    strategy:
      matrix:
        version: ["3.4.4"]
        os: ["ubuntu-latest", "macos-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
        with:
          repository: "${{ inputs.repository }}"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "${{ matrix.version }}"
          bundler-cache: true
      - name: "Run easy compile"
        uses: "shopify-playground/edouard-playground/.github/actions/easy_compile@easy-compile"

  release:
    permissions:
      id-token: write
      contents: write
    needs: compile_and_test
    name: "Release gems"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
        with:
          repository: "${{ inputs.repository }}"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.4"
          bundler-cache: true
      - name: "Release"
        uses: "./.github/actions/easy_publish"
