name: "Package gems with precompiled binaries"
on:
  workflow_dispatch:
    inputs:
      release:
        description: "If the whole build passes on all platforms, release the gems on RubyGems.org"
        required: false
        type: boolean
        default: false
jobs:
  compile:
    timeout-minutes: 20
    name: "Cross compile the gem on different ruby versions"
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7"
          bundler-cache: true
          working-directory: "test/fixtures/date"
      - name: "Run easy compile"
        uses: "shopify-playground/edouard-playground/.github/actions/easy_compile@easy-compile"
        with:
          step: "compile"
          working-directory: "test/fixtures/date"
  test:
    timeout-minutes: 20
    name: "Run the test suite"
    needs: compile
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest"]
        rubies: ["3.4.7", "3.3.9"]
        type: ["cross", "native"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "${{ matrix.rubies }}"
          bundler-cache: true
          working-directory: "test/fixtures/date"
      - name: "Run easy compile"
        uses: "shopify-playground/edouard-playground/.github/actions/easy_compile@easy-compile"
        with:
          step: "test_${{ matrix.type }}"
          working-directory: "test/fixtures/date"
  install:
    timeout-minutes: 5
    name: "Verify the gem can be installed"
    needs: test
    strategy:
      matrix:
        os: ["macos-latest", "ubuntu-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7"
      - name: "Run easy compile"
        uses: "shopify-playground/edouard-playground/.github/actions/easy_compile@easy-compile"
        with:
          step: "install"
  release:
    permissions:
      id-token: write
    timeout-minutes: 5
    if: ${{ inputs.release }}
    name: "Release all gems with RubyGems"
    needs: install
    runs-on: "ubuntu-latest"
    steps:
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7"
          bundler-cache: true
          working-directory: "test/fixtures/date"
      - name: "Run easy compile"
        uses: "shopify-playground/edouard-playground/.github/actions/easy_publish@easy-compile"
        with:
          working-directory: "test/fixtures/date"
