name: Compile and test the date gem
on: [push]
jobs:
  compile_and_test:
    name: "Complile and test the date gem"
    strategy:
      matrix:
        version: ["3.4.4"]
        os: ["windows-latest", "macos-latest", "ubuntu-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "${{ matrix.version }}"
          bundler-cache: true
          working-directory: "test/fixtures/date"
      - name: "Run easy compile"
        uses: "./.github/actions/easy_compile"
        with:
          working-directory: "test/fixtures/date"
