name: "Run a end to end test on the dummy gem"
on: push
jobs:
  get_versions:
    timeout-minutes: 10
    name: "Get the ruby versions needed to compile"
    runs-on: ubuntu-latest
    outputs:
      latest_supported_ruby_version: ${{ steps.easy_compile.outputs.latest_supported_ruby_version }}
      runtime_version_for_compilation: ${{ steps.easy_compile.outputs.runtime_version_for_compilation }}
      ruby_versions_for_testing: ${{ steps.easy_compile.outputs.ruby_versions_for_testing }}
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7"
      - name: "Install the gem"
        run: "rake install"
      - name: "Outputs what I need"
        id: easy_compile
        working-directory: "test/fixtures/dummy_gem"
        run: easy_compile foo
  compile:
    needs: get_versions
    timeout-minutes: 20
    name: "Cross compile the gem on different ruby versions"
    strategy:
      matrix:
        os: ["ubuntu-latest"]
    runs-on: "${{ matrix.os }}"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: ${{ needs.get_versions.outputs.runtime_version_for_compilation }}
          bundler-cache: true
          working-directory: "test/fixtures/dummy_gem"
      - name: "Run easy compile"
        uses: "./.github/actions/easy_compile"
        with:
          step: "compile"
          token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: "test/fixtures/dummy_gem"
