name: "Run the test suite"
on: push

jobs:
  get_versions:
    timeout-minutes: 10
    name: "Testing the gem"
    runs-on: ubuntu-latest
    outputs:
      latest_supported_ruby_version: ${{ steps.easy_compile.outputs.latest_supported_ruby_version }}
      runtime_version_for_compilation: ${{ steps.easy_compile.outputs.runtime_version_for_compilation }}
      ruby_versions_for_testing: ${{ steps.easy_compile.outputs.ruby_versions_for_testing }}
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7"
      - name: "Install the gem"
        run: "rake install"
      - name: "Outputs what I need"
        id: easy_compile
        working-directory: "test/fixtures/dummy_gem"
        run: easy_compile foo
  read_versions:
    needs: get_versions
    runs-on: ubuntu-latest
    steps:
      - run: echo '${{ needs.get_versions.outputs.latest_supported_ruby_version }}'
      - run: echo '${{ needs.get_versions.outputs.runtime_version_for_compilation }}'
      - run: echo '${{ needs.get_versions.outputs.ruby_versions_for_testing }}'
