name: "Run the test suite"
on: push

jobs:
  lint:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
        with:
          working-directory: "tmp"
      - name: "Create a docker container"
        run: 'docker container run -w /var -v "tmp:/var" arm64v8/ruby:3.4.7 rake install'
