name: "Run the test suite"
on: push

jobs:
  get_versions:
    timeout-minutes: 10
    name: "Testing the gem"
    runs-on: ubuntu-latest
    outputs:
      ruby_versions: ${{ steps.easy_compile.outputs.test }}
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Install the gem"
        run: "rake install"
      - name: "Outputs what I need"
        id: easy_compile
        working-directory: "test/fixtures/dummy_gem"
        run: easy_compile foo
