name: "Run the test suite"
on: push

jobs:
  get_versions:
    timeout-minutes: 10
    name: "Testing the gem"
    runs-on: ubuntu-latest
    outputs:
      ruby_versions: ${{ steps.easy_compile.outputs.versions }}
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup Ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          ruby-version: "3.4.7"
      - name: "Install the gem"
        run: "rake install"
      - name: "Outputs what I need"
        id: easy_compile
        working-directory: "test/fixtures/dummy_gem"
        run: easy_compile foo
  read_versions:
    needs: get_versions
    runs-on: ubuntu-latest
    steps:
      - run: echo '${{ toJSON(needs.get_versions.outputs.ruby_versions) }}'
