name: "Run the test suite"
on: push

jobs:
  test:
    timeout-minutes: 10
    name: "Testing the gem"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v5"
      - name: "Setup ruby"
        uses: "ruby/setup-ruby@v1"
        with:
          bundler-cache: true
      - name: "Run the test suite"
        run: "bundle exec rake test"
