name: "Run the test suite"
on: push

jobs:
  lint:
    timeout-minutes: 5
    name: "Ruby linter"
    runs-on: shopify-ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"
      - name: "Setup ruby"
        uses: "ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71"
        with:
          bundler-cache: true
      - name: "Run rubocop"
        run: "bundle exec rubocop"
  test:
    timeout-minutes: 10
    name: "Testing the gem"
    runs-on: shopify-ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"
      - name: "Remove the Gemfile.lock"
        run: "rm -rf Gemfile.lock"
      - name: "Setup ruby"
        uses: "ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71"
        with:
          bundler-cache: true
      - name: "Run the test suite"
        run: "bundle exec rake test"
  gem_deps:
    timeout-minutes: 10
    name: "Ensure CLI is compatible no matter the gem dependencies"
    runs-on: shopify-ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3"
      - name: "Setup ruby"
        uses: "ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71"
        with:
          bundler-cache: true
      - name: "Install the gem"
        run: "rake install"
      - name: "Bundle install on target gem"
        working-directory: "test/fixtures/dummy_gem"
        run: "bundle install"
      - name: "Compile when target has rake as dependency"
        working-directory: "test/fixtures/dummy_gem"
        run: "cibuildgem compile"
      - name: "Bundle install on target gem"
        working-directory: "test/fixtures/dummy_gem"
        run: "bundle install"
        env:
          BUNDLE_GEMFILE: "Gemfile_no_rake"
      - name: "Compile when target gem doesn't have rake as dependency"
        working-directory: "test/fixtures/dummy_gem"
        run: "cibuildgem compile"
        env:
          BUNDLE_GEMFILE: "Gemfile_no_rake"
