name: "Run the test suite"
on: push

jobs:
  lint:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - name: "Display workspace dir"
        run: "echo ${{ github.workspace }}"
      - name: "Checkout code"
        uses: "actions/checkout@v5"
        with:
          path: "tmp"
      - name: "Create a docker container"
        run: 'docker container run -w /var -v "${{ github.workspace }}/tmp:/var" amd64/ruby:3.4.7 bash -c "rake install && cd test/fixtures/date/ && bundle install && cibuildgem package"'
